.home-banner {
  background-color: rgb(23, 33, 72);
  position: relative;
  height: 90vh;
  display: flex;
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
}

.home-banner-image {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
  object-position: center;
}

.home-banner-info {
  position: absolute;
  margin-top: 25vh;
  margin-left: 12vw;
  margin-right: 12vw;
  z-index: 1;
}

.home-banner-title {
  font-family: Monda, Arial;
  color: rgb(255, 255, 255);
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-banner-title-strong {
  color: rgb(82, 143, 228);
}

.home-banner-description {
  font-family: Monda, Arial;
  color: rgb(201, 210, 222);
  font-size: clamp(1.2rem, 2vw, 2rem);
}